<h1 class='text-center'>Log in</h1>

<div class="row">
  <div class="col-md-6 offset-3 form">
    <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
	  <p>
      	<%= f.label 'Login name' %>
      	<%= f.email_field :email, class: 'form-control' %>
	  </p>
	  <p>
      	<%= f.label :password %>
      	<%= f.password_field :password, class: 'form-control' %>
      </p>
      <p>
      	<br />
      	<a class="submit btn" onClick="$('form').submit()">LOGIN</a>
      </p>
      <p>
      	<br />
      	<%= link_to "Create account", {:controller => :users, :action => :new}, :class => "orange" %>
      </p>
    <% end %>

  </div>
</div>
