<h1><%= @race.name %></h1>

<ul class="list">
	<% @race.rzs.each do |rz| %>
		<a href="start-rz/<%= rz.id %>"><li>RZ<%= rz.id %></li></a>

	<% end %>
</ul>

<%= link_to 'Show', @race %> |
<%= link_to 'Back', races_path %>
