<h1>Editing Race</h1>

<%= render 'form_edit', race: @race %>

<br />


<h2>Assign racer's name</h2>
<div class="padded">
	<p><%= link_to 'Racer names',   assign_names_path(@race), :class => "link" %></p>
</div>

<br />
<br />


<h2>Share race</h2>
<div class="padded">
	<ul class="share">
	<% if @race.race_permissions.size == 0 %>
		<li>
		Race is not shared yet
		</li>
		<div class="note">To share race add email of an existing Chronometer user.</div>
	<% end %>
	<% @race.race_permissions.each do |race_permission| %>
		<li>
			<%= race_permission.user.name %> - <%= race_permission.user.email %> 
			<%= link_to "remove" , delete_race_permission_path(:race_permission_id => race_permission.id), :class => "submit btn"  %>
		</li>
	<% end %>
	</ul>

</div>



<div class="padded note">
	
	<%= form_tag(assign_race_permission_path(@race), method: 'post' ) do %>
		<%= label_tag 'Email' %>
		<%= text_field_tag :user_email %>
		<input type="submit" value="Add" />
	<% end %>
</div>

<br />


<%= link_to 'Back', races_path, :class => "submit btn" %>
