<h1><%= @race.name %> - RZ<%= @rz.id %></h1>

<ul class="list">
	<% @race.racers.each do |racer| %>
		
		<% if Rz.isRacerFinished(@rz.id, racer.id) %>
			<li>Racer <%= racer.id %> FINISHED   <%= racer.getRzRecordTime(@rz.id) %></li>
		
		<% else %>
			<li id="racerStart<%= racer.id %>" onClick="$('#start<%= racer.id %>').slideToggle()">Racer <%= racer.id %></li>
		
			<li id="start<%= racer.id %>" class="start-form">
				<div class="timer" id="startTimer<%= racer.id %>"> 

				</div>
				<div>
		
				<input type="button" value="RACER <%= racer.id %> FINISH" class="startBtn" onClick="
				var startTime = $('#startTimer<%= racer.id %>').text();
				$.ajax({
			type: 'GET',
			url: '<%= finish_racer_url(:raceId => @race.id, :rzId => @rz.id, :racerId => racer.id) %>',
			data: {startTime:  startTime},
			success:    function(response, status) {
						$('#racerStart<%= racer.id %>').text('Racer <%= racer.id %> FINISHED');
						$('#start<%= racer.id %>').remove();
			}
		 });">
				</div>
			</li>
		<% end %>
	<% end %>
</ul>

<a href="/races/<%= @race.id %>/show-rzs" class="backBtn">BACK</a>

