<p id="notice"><%= notice %></p>

<h1>Manage races</h1>

<table>


  <tbody>
    <% @races.each do |race| %>
      <tr>
        <td class="right-2em"><%= race.name %></td>

        <td class="edit-padded"><%= link_to 'Edit', edit_race_path(race), :class => "link edit" %></td>
        <td><%= link_to 'Del', race, method: :delete, data: { confirm: 'Are you sure?' }, :class => "link" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Race', new_race_path, :class => "link" %>
