<p id="notice"><%= notice %></p>

<h1>Races</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @races.each do |race| %>
      <tr>
        <td><%= race.name %></td>

        <td><%= link_to 'Edit', edit_race_path(race), :class => "link" %></td>
        <td><%= link_to 'Del', race, method: :delete, data: { confirm: 'Are you sure?' }, :class => "link" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Race', new_race_path, :class => "link" %>
