<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns = "http://www.w3.org/1999/xhtml">
	<head>
		<title>CHRONOMETER</title>
		<%= stylesheet_link_tag "style" %>
		<%= javascript_include_tag "jquery-3.3.1.min.js" %>
		<%= javascript_include_tag "application.js" %>
		<%= csrf_meta_tags %>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

	</head>
	<body>
		<div id ="app-container">
			<div id="app-header">
				<div class="header">
				  <i class="material-icons"  onClick="$('#left-menu').slideToggle()">menu</i>
				  <h1><a href="/chronometer/homepage">Chronometer</a></h1>
				  <i class="material-icons">add</i>
			
				   <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
					   rel="stylesheet" >
				   <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
					   rel="stylesheet" >
				</div>
				<div id="left-menu">
					<% if logged_in? %>
						<ul>
							<a href="/races/start-races"><li>Start races</li></a>
							<a href="/races/finish-races"><li>Finish races</li></a>
							<a href="/results/list-races"><li>Results</li></a>
							<a href="/results/live-races"><li>Live results</li></a>
							<a href="/races"><li>Manage races</li></a>
						<ul>
					<% else %>
						<ul>
							<a href="/signup"><li>Signup</li></a>
						</ul>
					<% end %>
				</div>	
			</div>	
			<div id="main-content">
				<%= yield %>
			</div>
		</div>
	</body>
</html>